.buttonsContainer {
}

.responseContainer {
    display: flex;
    flex-direction: row;
    gap: 94px;
}

.imageContainer {
}

.image {
}

.textContainer{
    align-self: center;
}

.code {
}

.text {
}
.info {
}