.sidebar {
    position: absolute;
    left: -200px;
    z-index: 3;
}

.sidebar.open {
    left: 0
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
