.burgerMenuIcon {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 70px;
    padding: 17px;
    border-bottom: 1px solid black;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
}