.button {
}

.disabled {
    background-color: black;
}

.secondary {
}

.default {
    background-color: #00cc22;
}

.red {
    border-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
